"plugins"
"s/S + 2 Letters to jump"
set sneak
"further jumps when pressing ; twice"
let mapleader=";"
set easymotion
"cs + firstsurroundingletter + replacedby"
set surround
"<A-n> <A-x> <A-p> g<A-n>"
set multiple-cursors


"copy to clipboard"
set clipboard+=unnamedplus
"remap exit insert mode"
"remapping done on system level to capslock"

